In [19]:
import pandas as pd
import numpy as np
#from sklearn.cross_validation import train_test_split
from sklearn.datasets import load_breast_cancer
from sklearn.neighbors import KNeighborsClassifier     #KNN
from sklearn.linear_model import LogisticRegression    #Logistic Regression
from sklearn.tree import DecisionTreeClassifier        #Decision Tree
from sklearn.ensemble import RandomForestClassifier    #Random Forest
from sklearn.neural_network import MLPClassifier       #Neural Network
from sklearn.svm import SVC                            #SVM
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import tree
import matplotlib.pylab as plt
import numpy as np
#import graphviz
import itertools

%matplotlib inline

# turn our data to a dataframe
credit_df = pd.read_csv( "german-credit-card.txt", delim_whitespace = True, header = None)

# add column names to our data
columns = ['checkin_acc', 'duration', 'credit_history', 'purpose', 'amount',
           'saving_acc', 'present_emp_since', 'inst_rate', 'personal_status',
           'other_debtors', 'residing_since', 'property', 'age',
           'inst_plans', 'housing', 'num_credits',
           'job', 'dependents', 'telephone', 'foreign_worker', 'status']
           
credit_df.columns = columns


# select our tatger name (i.e good credit, bad credit)
credit_df.target_names= ['Good', 'Bad']

# look at our data frame
# credit_df

# check columns name and the data type it holds
# credit_df.info()

/var/folders/rp/8y6kqydx4gz7_qbqgv893ccm0000gn/T/ipykernel_32383/3819311633.py:35: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  credit_df.target_names= ['Good', 'Bad']

In [20]:
X_features = list( credit_df.columns )
X_features.remove( 'status' )
X_features
# the columns in our data frame is our features for the NN

['checkin_acc',
 'duration',
 'credit_history',
 'purpose',
 'amount',
 'saving_acc',
 'present_emp_since',
 'inst_rate',
 'personal_status',
 'other_debtors',
 'residing_since',
 'property',
 'age',
 'inst_plans',
 'housing',
 'num_credits',
 'job',
 'dependents',
 'telephone',
 'foreign_worker']

In [21]:
credit_df_complete = pd.get_dummies( credit_df[X_features], drop_first = True )
# get_dummies takes in our (data, drop_first=True)
# our data is our features (our entire data set)
# drop_first: Wether to get k-1 dummies out of k categorical levels by removing the first level

#credit_df_complete = credit_df[X_features]
credit_df_complete # theres 48 columns

,duration,amount,inst_rate,residing_since,age,num_credits,dependents,checkin_acc_A12,checkin_acc_A13,checkin_acc_A14,...,property_A124,inst_plans_A142,inst_plans_A143,housing_A152,housing_A153,job_A172,job_A173,job_A174,telephone_A192,foreign_worker_A202
0,6,1169,4,4,67,2,1,0,0,0,...,0,0,1,1,0,0,1,0,1,0
1,48,5951,2,2,22,1,1,1,0,0,...,0,0,1,1,0,0,1,0,0,0
2,12,2096,2,3,49,1,2,0,0,1,...,0,0,1,1,0,1,0,0,0,0
3,42,7882,2,4,45,1,2,0,0,0,...,0,0,1,0,1,0,1,0,0,0
4,24,4870,3,4,53,2,2,0,0,0,...,1,0,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,1736,3,4,31,1,1,0,0,1,...,0,0,1,1,0,1,0,0,0,0
996,30,3857,4,4,40,1,1,0,0,0,...,0,0,1,1,0,0,0,1,1,0
997,12,804,4,4,38,1,1,0,0,1,...,0,0,1,1,0,0,1,0,0,0
998,45,1845,4,4,23,1,1,0,0,0,...,1,0,1,0,1,0,1,0,1,0
999,45,4576,3,4,27,1,1,1,0,0,...,0,0,1,1,0,0,1,0,0,0

In [22]:
#Change the reponse variable to 0 = No Default and 1 = Default
Y = credit_df.status - 1  # pandas series 999 rows each row corresponds to a 0 or 1
X = credit_df_complete    # pandas dataframe

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.1, random_state = 42)

# print(credit_df_complete.shape)

# multi-layer perceptron classifier
mlp = MLPClassifier(random_state=42)
mlp.fit(X_train, y_train)

print('acc for training data: {:.3f}'.format(mlp.score(X_train, y_train)))
print('acc for test data: {:.3f}'.format(mlp.score(X_test, y_test)))

acc for training data: 0.583
acc for test data: 0.610

#### PLEASE ADD A FEW LINES CODE AS FOLLOWS TO IMPROVE THE MODEL, For example, you need to do data normalization, data standardization, and other data mining models.   IF YOU DO NOT HAVE CODE EXPERIENCE, PLEASE DISCUSS SEVERAL APPROACH TO MAKE IMPROVEMENT.

In [31]:
# standardize our data
credit_df_complete = pd.get_dummies( credit_df[X_features], drop_first = True )
scaler = preprocessing.StandardScaler()
scaler.fit(credit_df_complete)
credit_df_complete = pd.DataFrame(scaler.transform(credit_df_complete), columns=credit_df_complete.columns)
credit_df_complete

,duration,amount,inst_rate,residing_since,age,num_credits,dependents,checkin_acc_A12,checkin_acc_A13,checkin_acc_A14,...,property_A124,inst_plans_A142,inst_plans_A143,housing_A152,housing_A153,job_A172,job_A173,job_A174,telephone_A192,foreign_worker_A202
0,-1.236478,-0.745131,0.918477,1.046987,2.766456,1.027079,-0.428290,-0.606621,-0.259299,-0.806328,...,-0.426653,-0.222076,0.478018,0.634448,-0.347960,-0.5,0.766356,-0.416784,1.214598,-0.196014
1,2.248194,0.949817,-0.870183,-0.765977,-1.191404,-0.704926,-0.428290,1.648476,-0.259299,-0.806328,...,-0.426653,-0.222076,0.478018,0.634448,-0.347960,-0.5,0.766356,-0.416784,-0.823318,-0.196014
2,-0.738668,-0.416562,-0.870183,0.140505,1.183312,-0.704926,2.334869,-0.606621,-0.259299,1.240190,...,-0.426653,-0.222076,0.478018,0.634448,-0.347960,2.0,-1.304877,-0.416784,-0.823318,-0.196014
3,1.750384,1.634247,-0.870183,1.046987,0.831502,-0.704926,2.334869,-0.606621,-0.259299,-0.806328,...,-0.426653,-0.222076,0.478018,-1.576173,2.873893,-0.5,0.766356,-0.416784,-0.823318,-0.196014
4,0.256953,0.566664,0.024147,1.046987,1.535122,1.027079,2.334869,-0.606621,-0.259299,-0.806328,...,2.343823,-0.222076,0.478018,-1.576173,2.873893,-0.5,0.766356,-0.416784,-0.823318,-0.196014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-0.738668,-0.544162,0.024147,1.046987,-0.399832,-0.704926,-0.428290,-0.606621,-0.259299,1.240190,...,-0.426653,-0.222076,0.478018,0.634448,-0.347960,2.0,-1.304877,-0.416784,-0.823318,-0.196014
996,0.754763,0.207612,0.918477,1.046987,0.391740,-0.704926,-0.428290,-0.606621,-0.259299,-0.806328,...,-0.426653,-0.222076,0.478018,0.634448,-0.347960,-0.5,-1.304877,2.399324,1.214598,-0.196014
997,-0.738668,-0.874503,0.918477,1.046987,0.215835,-0.704926,-0.428290,-0.606621,-0.259299,1.240190,...,-0.426653,-0.222076,0.478018,0.634448,-0.347960,-0.5,0.766356,-0.416784,-0.823318,-0.196014
998,1.999289,-0.505528,0.918477,1.046987,-1.103451,-0.704926,-0.428290,-0.606621,-0.259299,-0.806328,...,2.343823,-0.222076,0.478018,-1.576173,2.873893,-0.5,0.766356,-0.416784,1.214598,-0.196014
999,1.999289,0.462457,0.024147,1.046987,-0.751642,-0.704926,-0.428290,1.648476,-0.259299,-0.806328,...,-0.426653,-0.222076,0.478018,0.634448,-0.347960,-0.5,0.766356,-0.416784,-0.823318,-0.196014

In [33]:
Y = credit_df.status - 1  # pandas series 999 rows each row corresponds to a 0 or 1
X = credit_df_complete    # pandas dataframe

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.1, random_state = 42)
randomForest = RandomForestClassifier(n_estimators=1000, random_state=2)
randomForest.fit(X_train, y_train)

RandomForestClassifier(n_estimators=1000, random_state=2)

In [40]:
fi = randomForest.feature_importances_
standardDeviation = np.std([tree.feature_importances_ for tree in randomForest.estimators_], axis=0)
df = pd.DataFrame({'feature': X_train.columns, 'importance': fi, 'std deviation': standardDeviation})
df.head()

          feature  importance  std deviation
0        duration    0.088195       0.024070
1          amount    0.120415       0.030324
2       inst_rate    0.041321       0.014898
3  residing_since    0.040006       0.013888
4             age    0.093390       0.023256

In [64]:
def evaluateBinaryClassification(predictions, actuals):
    contigency = pd.crosstab(actuals,predictions)
    TP = contigency[0][1]
    TN = contigency[1][1]
    FP = contigency[0][1]
    FN = contigency[1][0]
    n = contigency.sum().sum()

    Acuracy = (TP + TN)/n
    Recall = TP/(TP+FN)
    Precision = TP/(TP+FP)
    FScore = 2*Recall*Precision/(Recall+Precision)
    
    return Acuracy, Recall, Precision, FScore

In [70]:
select_features=df[df.importance>=0.03].feature

# knn
knn = KNeighborsClassifier(n_neighbors=12, weights='uniform').fit(X_train[select_features], y_train)
y_predict_knn = knn.predict(X_test[select_features])
pd.crosstab(y_test, y_predict_knn)
evaluateBinaryClassification(y_predict_knn, y_test)

(0.29, 0.7407407407407407, 0.5, 0.5970149253731343)

NameError: name 'target' is not defined